.vscode/**
.vscode-test/**
out/test/**

CheatSheet.md
TODO
test.http

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix

# Ignore
# **

# Keep
!LICENSE
!images/
!out/**/*.js
!resources/**/*
